gridData =
    from(bucket: "{{.SourceBucket}}")
        |> range(start: -5m)
        |> filter(fn: (r) => r["_measurement"] == "{{.Measurement}}")
        |> filter(fn: (r) => r["role"] == "Grid")
        |> filter(
            fn: (r) =>
                r["_field"] == "total_energy_consumed" or r["_field"] == "total_energy_provided",
        )
        |> last()
        |> truncateTimeColumn(unit: 1m)

pvData =
    from(bucket: "{{.SourceBucket}}")
        |> range(start: -5m)
        |> filter(fn: (r) => r["_measurement"] == "{{.Measurement}}")
        |> filter(fn: (r) => r["role"] == "Pv")
        |> filter(fn: (r) => r["_field"] == "total_energy_consumed")
        |> last()
        |> truncateTimeColumn(unit: 1m)

union(tables: [gridData, pvData])
    |> set(key: "_measurement", value: "{{.Measurement}}")
    |> to(bucket: "{{.TargetBucket}}")
