{{define "dashboard"}}
<style>
    @media (prefers-color-scheme: dark) {
        [aria-label="tip"] {
            --plot-background: #2b3035;
        }
    }
</style>

<main class="container pt-5">
<div class="w-100 m-auto pt-3">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="sel-price-providers" class="col-form-label">Price per provider</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sel-price-providers"></select>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sel-price-energy-type"></select>
        </div>
    </div>
    <div id="container1"></div>
    <br />
    <br />
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="sel-costs-providers" class="col-form-label">Cost per provider</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sel-costs-providers"></select>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sel-costs-energy-type"></select>
        </div>
    </div>
    <div id="container2"></div>
    <br />
    <br />
    <label class="col-form-label">Electricity usage per provider</label>
    <div id="container3"></div>
    <br />
    <br />
    <label class="col-form-label">Watts per provider</label>
    <div id="container4"></div>
    <br />
    <br />
    <label class="col-form-label">Watts per battery</label>
    <div id="container5"></div>
    <br />
    <br />
    <label class="col-form-label">State of charge per battery</label>
    <div id="container6"></div>
    <br />
    <br />
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="sel-gas-providers" class="col-form-label">Gas usage per provider</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" id="sel-gas-providers"></select>
        </div>
    </div>
    <div id="container7"></div>
    <br />
    <br />
</div>
</main>

<script>
$(document).ready(function(){
    'use strict';
    const aggregateFunctionMean = "mean";
    const aggregateFunctionMin = "min";
    const aggregateFunctionMax = "max";
    const aggregateFunctionSum = "sum";
    const providerMap = new Map();


    const today = new Date();
    let tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    let yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);

    $('#sel-price-energy-type').on('change', function (event) {
        event.preventDefault();
        loadPrices($('#sel-price-providers').val(), $(this).val())
    });

    $('#sel-costs-energy-type').on('change', function (event) {
        event.preventDefault();
        loadCosts($('#sel-costs-providers').val(), $(this).val())
    });

    $('#sel-price-providers').on('change', function (event) {
        event.preventDefault();
        const selectedProvider = $(this).val();

        const $priceEnergyType = $('#sel-price-energy-type');
        const currentEnergyType = $priceEnergyType.val();
        $priceEnergyType.empty()
        $(providerMap.get(selectedProvider)).each(function (index, energyType) {
            const $option = $('<option>').attr('value', energyType).text(capitalize(energyType));
            if (energyType === currentEnergyType) {
                $option.attr('selected', 'selected')
            }
            $priceEnergyType.append($option.clone());
        });

        loadPrices(selectedProvider, $priceEnergyType.val())
    });

    $('#sel-costs-providers').on('change', function (event) {
        event.preventDefault();
        const selectedProvider = $(this).val();

        const $costsEnergyType = $('#sel-costs-energy-type');
        const currentEnergyType = $costsEnergyType.val();
        $costsEnergyType.empty()
        $(providerMap.get(selectedProvider)).each(function (index, energyType) {
            const $option = $('<option>').attr('value', energyType).text(capitalize(energyType));
            if (energyType === currentEnergyType) {
                $option.attr('selected', 'selected')
            }
            $costsEnergyType.append($option.clone());
        });
        if (providerMap.get(selectedProvider).length > 1) {
            $costsEnergyType.append($('<hr>'));
            $costsEnergyType.append($('<option>').attr('value', '').text("Total"));
        }

        loadCosts(selectedProvider, $costsEnergyType.val())
    });

    $('#sel-gas-providers').on('change', function (event) {
        event.preventDefault();
        const selectedProvider = $(this).val();

        $.ajax({
            url: "{{$.ContextRoot}}api/gas/" + selectedProvider + "/usages/" + yesterday.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionMin + "," + aggregateFunctionMax,
        }).done(function (data) {
            if (data && data.sources) {
                let markers = [];
                $.each(data.sources, function (source, serie) {
                    $.each(serie.buckets, function(i, bucket) {
                        markers.push({
                            start_time: Date.parse(bucket.start_time),
                            end_time: Date.parse(bucket.end_time),
                            value: (bucket.usages[aggregateFunctionMax].gas_consumed - bucket.usages[aggregateFunctionMin].gas_consumed),
                            provider: source
                        });
                    });
                });
                const graph = Plot.plot({
                    x: {
                        type: "time",
                        interval: "hour",
                        label: "Time"
                    },
                    y: {
                        label: "Usage in m3"
                    },
                    grid: true,
                    width: "1200",
                    color: {
                        legend: true,
                        scheme: "gnbu",
                    },
                    marks: [
                        Plot.ruleY([0]),
                        Plot.axisX({
                            ticks: "day",
                            tickSize: 28,
                            tickPadding: -9,
                            tickFormat: " %A",
                            textAnchor: "start"
                        }),
                        Plot.axisX({ticks: "3 hours", tickFormat: "%H:%M"}),
                        Plot.rectY(markers, {
                            x: "start_time",
                            y: "value",
                            z: "provider",
                            interval: "hour",
                            fill: "value",
                            channels: {
                                title: function (d) {
                                    return 'Time: ' + formatDate(new Date(d.start_time), new Date(d.end_time)) + '\n Usage: ' + d.value.toFixed(3) + ' m3';
                                }
                            },
                            tip: true
                        })
                    ]
                })

                function formatDate(startDate, endDate) {
                    let startHour = startDate.getHours();
                    let startMinutes = startDate.getMinutes()
                    let endHour = endDate.getHours();
                    let endMinutes = endDate.getMinutes()
                    startHour = startHour < 10 ? ('0' + startHour) : startHour;
                    startMinutes = startMinutes < 10 ? ('0' + startMinutes) : startMinutes;
                    endHour = endHour < 10 ? ('0' + endHour) : endHour;
                    endMinutes = endMinutes < 10 ? ('0' + endMinutes) : endMinutes;
                    return startHour + ':' + startMinutes + '-' + endHour + ':' + endMinutes;
                }

                $('#container7').empty().append(graph);
            }
        });
    });


    $.ajax({
        url: "{{$.ContextRoot}}api/prices/providers/" + yesterday.toISOString().split('T')[0],
    }).done(function(data) {
        if (!data || !data.providers) {
            return;
        }
        const $priceProviders = $('#sel-price-providers');
        const $costsProviders = $('#sel-costs-providers');
        $(data.providers).each(function (index, provider) {
            providerMap.set(provider.name, provider.energy_types.sort())
            const $option = $('<option>').attr('value', provider.name).text(provider.name)
            if (data.grid && provider.name === data.grid) {
                $option.attr('selected', 'selected')
            }
            $priceProviders.append($option.clone());
            $costsProviders.append($option.clone());
        });
        $priceProviders.trigger("change");
        $costsProviders.trigger("change");
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/gas/sources/" + yesterday.toISOString().split('T')[0],
    }).done(function(data) {
        if (!data || !data.sources) {
            return;
        }
        const $gasProviders = $('#sel-gas-providers');
        $(data.sources).each(function (index, source) {
            const $option = $('<option>').attr('value', source).text(source)
            if (data.grid && source === data.grid) {
                $option.attr('selected', 'selected')
            }
            $gasProviders.append($option.clone());
        });
        $gasProviders.trigger("change");
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/electricity/usages/" + today.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionMin + "," + aggregateFunctionMax,
    }).done(function(data) {
        if (data && data.sources) {
            let markers = [];
            $.each(data.sources, function(source, serie) {
                $.each(serie.buckets, function(i, bucket) {
                    markers.push({
                        start_time: Date.parse(bucket.start_time),
                        end_time: Date.parse(bucket.end_time),
                        value: (bucket.usages[aggregateFunctionMax].total_energy_consumed - bucket.usages[aggregateFunctionMin].total_energy_consumed),
                        provider: source + " - Consumed"
                    });
                    if ("EvCharger" !== serie.role && "Pv" !== serie.role) {
                        markers.push({
                            start_time: Date.parse(bucket.start_time),
                            end_time: Date.parse(bucket.end_time),
                            value: (bucket.usages[aggregateFunctionMax].total_energy_provided - bucket.usages[aggregateFunctionMin].total_energy_provided),
                            provider: source + " - Provided"
                        });
                    }
                });
            });
            const graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "kWh"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(markers, {
                        x: "start_time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        curve: "natural",
                        marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(markers, Plot.pointerX({x: "start_time", y: "value", title: function(d) {
                            return d.provider + '\nTime: ' + formatDate(new Date(d.start_time), new Date(d.end_time))  + '\n ' + d.value.toFixed(2) + 'kWh';
                        }})),
                ]
            });
            // let color = graph.scale("color");
            // const domain = color.domain;
            // const range = color.range;

            function formatDate(startDate, endDate) {
                let startHour = startDate.getHours();
                let startMinutes = startDate.getMinutes()
                let endHour = endDate.getHours();
                let endMinutes = endDate.getMinutes()
                startHour = startHour < 10 ? ('0' + startHour) : startHour;
                startMinutes = startMinutes < 10 ? ('0' + startMinutes) : startMinutes;
                endHour = endHour < 10 ? ('0' + endHour) : endHour;
                endMinutes = endMinutes < 10 ? ('0' + endMinutes) : endMinutes;
                return startHour + ':' + startMinutes + '-' + endHour + ':' + endMinutes;
            }


            $('#container3').append(graph);
        }
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/electricity/states/" + today.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionMean + "&fields=total_power",
    }).done(function(data) {
        if (data && data.sources) {
            let powerMarkers = [];
            $.each(data.sources, function(source, serie) {
                $.each(serie.buckets, function(i, bucket) {
                    powerMarkers.push({
                        start_time: Date.parse(bucket.start_time),
                        end_time: Date.parse(bucket.end_time),
                        value: (bucket.states[aggregateFunctionMean].total_power),
                        provider: source
                    });
                });
            });
            let graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Watt"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(powerMarkers, {
                        x: "start_time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(powerMarkers, Plot.pointerX({x: "start_time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return d.provider + '\nTime: ' + formatDate(new Date(d.start_time))  + '\n ' + d.value.toFixed(2) + 'W';
                        }})),
                ]
            });
            $('#container4').append(graph);
        }
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/battery/states/" + today.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionMean + "&fields=power,soc",
    }).done(function(data) {
        if (data && data.sources) {
            let powerMarkers = [];
            let socMarkers = [];
            $.each(data.sources, function(source, serie) {
                $.each(serie.buckets, function(i, bucket) {
                    powerMarkers.push({
                        start_time: Date.parse(bucket.start_time),
                        end_time: Date.parse(bucket.end_time),
                        value: bucket.states[aggregateFunctionMean].power,
                        provider: source
                    });
                    socMarkers.push({
                        start_time: Date.parse(bucket.start_time),
                        end_time: Date.parse(bucket.end_time),
                        value: bucket.states[aggregateFunctionMean].soc,
                        provider: source
                    });
                });
            });

            let graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Watt"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(powerMarkers, {
                        x: "start_time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(powerMarkers, Plot.pointerX({x: "start_time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return d.provider + '\nTime: ' + formatDate(new Date(d.start_time))  + '\n ' + d.value.toFixed(2) + 'W';
                        }})),
                ]
            });
            $('#container5').append(graph);

            graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "SoC"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(socMarkers, {
                        x: "start_time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(socMarkers, Plot.pointerX({x: "start_time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return d.provider + '\nTime: ' + formatDate(new Date(d.start_time))  + '\n ' + d.value.toFixed(2) + '%';
                        }})),
                ]
            });
            $('#container6').append(graph);
        }
    });

    function loadPrices(provider, energyType) {
        $.ajax({
            url: "{{$.ContextRoot}}api/prices/" + provider + "/" + energyType + "/" + today.toISOString().split('T')[0] + "/" + tomorrow.toISOString().split('T')[0],
        }).done(function(data) {
            if (data && data.prices) {
                let markers = [];
                let intervalMinutes = 60;
                $.each(data.prices, function (series, prices) {
                    $.each(prices, function (i, price) {
                        markers.push({
                            time: Date.parse(price.time),
                            value: price.consumption_price,
                            provider: series
                        });
                    });
                });
                if (markers.length > 1) {
                    const diffInMs = markers[1].time - markers[0].time;
                    intervalMinutes = Math.round(diffInMs / 60000);
                }
                const graph = Plot.plot({
                    x: {
                        type: "time",
                        interval: intervalMinutes + ' minutes'
                    },
                    y: {
                        label: "Price in €"
                    },
                    grid: true,
                    width: "1200",
                    color: {
                        legend: true,
                        scheme: "gnbu",
                    },
                    marks: [
                        Plot.ruleY([0]),
                        Plot.axisX({ticks: "day", tickSize: 28, tickPadding: -9, tickFormat: " %A", textAnchor: "start"}),
                        Plot.axisX({ticks: "3 hours", tickFormat: "%H:%M"}),
                        Plot.rectY(markers, {
                            x: "time",
                            y: "value",
                            z: "provider",
                            interval: intervalMinutes + ' minutes',
                            fill: "value",
                            channels: {
                                title: function(d) {
                                    return 'Time: ' + formatDate(new Date(d.time), intervalMinutes)  + '\n Price: €' + d.value;
                                }
                            },
                            tip: true
                        }),
                    ]
                })

                function formatDate(date, intervalMinutes) {
                    let hours = date.getHours();
                    let minutes = date.getMinutes();
                    const endDate = new Date(date.getTime() + intervalMinutes*60000);
                    let endHours = endDate.getHours();
                    let endMinutes = endDate.getMinutes();

                    hours = hours < 10 ? ('0' + hours) : hours;
                    minutes = minutes < 10 ? ('0' + minutes) : minutes;
                    endHours = endHours < 10 ? ('0' + endHours) : endHours;
                    endMinutes = endMinutes < 10 ? ('0' + endMinutes) : endMinutes;
                    return hours + ':' + minutes + '-' + endHours + ':' + endMinutes;
                }

                $('#container1').empty().append(graph);
            }
        });
    }

    function loadCosts(provider, energyType) {
        let calls = [];
        let energyTypes = [];
        if (energyType) {
            energyTypes.push(energyType);
            calls.push($.ajax({
                url: "{{$.ContextRoot}}api/" + energyType + "/" + provider + "/costs/" + yesterday.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionSum + "&fields=net_costs",
            }));
        } else {
            $(providerMap.get(provider)).each(function (index, energyType) {
                energyTypes.push(energyType);
                calls.push($.ajax({
                    url: "{{$.ContextRoot}}api/" + energyType + "/" + provider + "/costs/" + yesterday.toISOString().split('T')[0] + "?aggregate_functions=" + aggregateFunctionSum + "&fields=net_costs",
                }))
            });
        }
        let markers = [];
        $.when.apply(null, calls).done(function() {
            let responses = [];
            if (Array.isArray(arguments[0])) {
                for (let i = 0; i < arguments.length; i++) {
                    responses.push(arguments[i]);
                }
            } else {
                responses.push([arguments[0]]);
            }
            $(responses).each(function (index, response) {
                if (response[0] && response[0].sources) {
                    $.each(response[0].sources, function (source, buckets) {
                        $.each(buckets, function (i, bucket) {
                            markers.push({
                                start_time: Date.parse(bucket.start_time),
                                end_time: Date.parse(bucket.end_time),
                                value: bucket.costs[aggregateFunctionSum].net_costs,
                                provider: source,
                                energy_type: energyTypes[index]
                            });
                        });
                    });

                }
            });
            const graph = Plot.plot({
                x: {
                    type: "time",
                    interval: "hour",
                    label: "Time"
                },
                y: {
                    label: "Costs in €"
                },
                grid: true,
                width: "1200",
                color: {
                    legend: true,
                    scheme: "gnbu",
                },
                marks: [
                    Plot.ruleY([0]),
                    Plot.axisX({
                        ticks: "day",
                        tickSize: 28,
                        tickPadding: -9,
                        tickFormat: " %A",
                        textAnchor: "start"
                    }),
                    Plot.axisX({ticks: "3 hours", tickFormat: "%H:%M"}),
                    Plot.rectY(markers, {
                        x: "start_time",
                        y: "value",
                        z: "energy_type",
                        interval: "hour",
                        fill: energyTypes.length > 1 ? "energy_type" : "value",
                        channels: {
                            title: function (d) {
                                let baseTip = 'Time: ' + formatDate(new Date(d.start_time), new Date(d.end_time)) + '\nCosts: €' + d.value;
                                if (energyTypes.length > 1) {
                                    baseTip += '\nEnergy type: ' + capitalize(d.energy_type);
                                }
                                return baseTip;
                            }
                        },
                        tip: true,
                    }),
                ]
            })

            function formatDate(startDate, endDate) {
                let startHour = startDate.getHours();
                let startMinutes = startDate.getMinutes()
                let endHour = endDate.getHours();
                let endMinutes = endDate.getMinutes()
                startHour = startHour < 10 ? ('0' + startHour) : startHour;
                startMinutes = startMinutes < 10 ? ('0' + startMinutes) : startMinutes;
                endHour = endHour < 10 ? ('0' + endHour) : endHour;
                endMinutes = endMinutes < 10 ? ('0' + endMinutes) : endMinutes;
                return startHour + ':' + startMinutes + '-' + endHour + ':' + endMinutes;
            }

            $('#container2').empty().append(graph);
        });
    }


    function capitalize(val) {
        return String(val).charAt(0).toUpperCase() + String(val).slice(1);
    }

});
</script>
{{end}}