{{define "dashboard"}}
<h5>Price per provider: <select id="sel-price-providers" autofocus="autofocus"></select></h5>
<div id="container1" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Costs per provider: <select id="sel-costs-providers" autofocus="autofocus"></select></h5>
<div id="container2" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Electricity usage per provider</h5>
<div id="container3" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Watts per provider</h5>
<div id="container4" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Amps per provider</h5>
<div id="container5" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Watts per battery</h5>
<div id="container6" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>Amps per battery</h5>
<div id="container7" style="width:100%; height:400px;"></div>
<br />
<br />
<h5>State of charge per battery</h5>
<div id="container8" style="width:100%; height:400px;"></div>
<br />
<br />
<script>
$(document).ready(function(){
    'use strict';

    const today = new Date();
    let tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    let yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);

    $.ajax({
        url: "{{$.ContextRoot}}api/prices/providers/" + yesterday.toISOString().split('T')[0],
    }).done(function(data) {
        if (!data || !data.providers) {
            return;
        }
        const $priceProviders = $('#sel-price-providers');
        const $costsProviders = $('#sel-costs-providers');
        $(data.providers).each(function (index, provider) {
            $priceProviders.append($('<option>').attr('value', provider).text(provider));
            $costsProviders.append($('<option>').attr('value', provider).text(provider));
        });
        $priceProviders.trigger("change");
        $costsProviders.trigger("change");
    });

    $('#sel-price-providers').on('change', function (event) {
        event.preventDefault();
        const selectedProvider = $(this).val();
        $.ajax({
            url: "{{$.ContextRoot}}api/prices/" + selectedProvider + "/" + today.toISOString().split('T')[0] + "/" + tomorrow.toISOString().split('T')[0],
        }).done(function(data) {
            if (data && data.prices) {
                let markers = [];
                $.each(data.prices, function (series, prices) {
                    $.each(prices, function (i, price) {
                        markers.push({
                            time: Date.parse(price.time),
                            value: price.consumption_price,
                            provider: series
                        });
                    });
                });
                const graph = Plot.plot({
                    x: {
                        type: "time",
                        interval: "hour",
                    },
                    y: {
                        label: "Price in €"
                    },
                    grid: true,
                    width: "1200",
                    color: {
                        legend: true,
                        scheme: "gnbu",
                    },
                    marks: [
                        Plot.ruleY([0]),
                        Plot.axisX({ticks: "day", tickSize: 28, tickPadding: -9, tickFormat: " %A", textAnchor: "start"}),
                        Plot.axisX({ticks: "3 hours", tickFormat: "%H:%M"}),
                        Plot.rectY(markers, {x: "time", y: "value", z: "provider", interval: "hour", fill: "value"}),
                        Plot.tip(markers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                                return 'Time: ' + formatDate(new Date(d.time))  + '\n Price: €' + d.value;
                            }
                        })),
                    ]
                })

                function formatDate(date) {
                    let hour = date.getHours();
                    let endHour = hour + 1
                    hour = hour < 10 ? ('0' + hour) : hour;
                    let minutes = date.getMinutes()
                    minutes = minutes < 10 ? ('0' + minutes) : minutes;
                    if (endHour >= 24) {
                        endHour = 0
                    }
                    endHour = endHour < 10 ? ('0' + endHour) : endHour;
                    return hour + ':' + minutes + '-' + endHour + ':' + minutes;
                }

                $('#container1').empty().append(graph);
            }
        });
    });

    $('#sel-costs-providers').on('change', function (event) {
        event.preventDefault();
        const selectedProvider = $(this).val();

        $.ajax({
            url: "{{$.ContextRoot}}api/electricity/" + selectedProvider + "/costs/" + yesterday.toISOString().split('T')[0],
        }).done(function (data) {
            if (data && data.costs) {
                let markers = [];
                $.each(data.costs, function (series, costs) {
                    $.each(costs, function (i, cost) {
                        markers.push({
                            // cost.time is the endtime of the calculation. So shift the marker 1 hour to the left.
                            time: Date.parse(cost.time) - 3600000,
                            value: cost.net_costs,
                            provider: series
                        });
                    });
                });
                const graph = Plot.plot({
                    x: {
                        type: "time",
                        interval: "hour",
                    },
                    y: {
                        label: "Costs in €"
                    },
                    grid: true,
                    width: "1200",
                    color: {
                        legend: true,
                        scheme: "gnbu",
                    },
                    marks: [
                        Plot.ruleY([0]),
                        Plot.axisX({
                            ticks: "day",
                            tickSize: 28,
                            tickPadding: -9,
                            tickFormat: " %A",
                            textAnchor: "start"
                        }),
                        Plot.axisX({ticks: "3 hours", tickFormat: "%H:%M"}),
                        Plot.rectY(markers, {x: "time", y: "value", z: "provider", interval: "hour", fill: "value"}),
                        Plot.tip(markers, Plot.pointerX({
                            x: "time", y: "value", title: function (d) {
                                return 'Time: ' + formatDate(new Date(d.time)) + '\n Costs: €' + d.value;
                            }
                        })),
                    ]
                })

                function formatDate(date) {
                    let hour = date.getHours();
                    let endHour = hour + 1
                    hour = hour < 10 ? ('0' + hour) : hour;
                    let minutes = date.getMinutes()
                    minutes = minutes < 10 ? ('0' + minutes) : minutes;
                    if (endHour >= 24) {
                        endHour = 0
                    }
                    endHour = endHour < 10 ? ('0' + endHour) : endHour;
                    return hour + ':' + minutes + '-' + endHour + ':' + minutes;
                }

                $('#container2').empty().append(graph);
            }
        });
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/electricity/usages/" + today.toISOString().split('T')[0],
    }).done(function(data) {
        if (data && data.usages) {
            let markers = [];
            $.each(data.usages, function(series, usageSerie) {
                let lastIterationConsumed;
                let lastIterationProvided;
                let lastDate
                $.each(usageSerie.usages, function(i, usage) {
                    if (lastIterationConsumed) {
                        markers.push({
                            time: lastDate,
                            value: (usage.total_energy_consumed - lastIterationConsumed),
                            provider: series + " - Consumed"
                        });
                    }
                    lastIterationConsumed = usage.total_energy_consumed;
                    if (lastIterationProvided) {
                        markers.push({
                            time: lastDate,
                            value: (lastIterationProvided - usage.total_energy_provided),
                            provider: series + " - Provided"
                        });
                    }
                    lastIterationProvided = usage.total_energy_provided;
                    lastDate = Date.parse(usage.time);
                });
            });
            const graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "kWh"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(markers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        curve: "natural",
                        marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(markers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                let endHour = hour + 1
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                if (endHour >= 24) {
                                    endHour = 0
                                }
                                endHour = endHour < 10 ? ('0' + endHour) : endHour;
                                return hour + ':' + minutes + '-' + endHour + ':' + minutes;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + 'kWh';
                        }})),
                ]
            });
            // let color = graph.scale("color");
            // const domain = color.domain;
            // const range = color.range;

            $('#container3').append(graph);
        }
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/electricity/states/" + today.toISOString().split('T')[0],
    }).done(function(data) {
        if (data && data.states) {
            let currentMarkers = [];
            let powerMarkers = [];
            $.each(data.states, function(series, stateSerie) {
                $.each(stateSerie.states, function(i, state) {
                    currentMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.total_current),
                        provider: series
                    });
                    powerMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.total_power),
                        provider: series
                    });
                });
            });
            let graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Watt"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(powerMarkers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(powerMarkers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + 'W';
                        }})),
                ]
            });
            $('#container4').append(graph);

            graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Ampere"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(currentMarkers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(currentMarkers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + 'A';
                        }})),
                ]
            });
            $('#container5').append(graph);
        }
    });

    $.ajax({
        url: "{{$.ContextRoot}}api/battery/states/" + today.toISOString().split('T')[0],
    }).done(function(data) {
        if (data && data.states) {
            let currentMarkers = [];
            let powerMarkers = [];
            let voltageMarkers = [];
            let socMarkers = [];
            $.each(data.states, function(series, stateSerie) {
                $.each(stateSerie.states, function(i, state) {
                    currentMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.current),
                        provider: series
                    });
                    powerMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.power),
                        provider: series
                    });
                    voltageMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.voltage),
                        provider: series
                    });
                    socMarkers.push({
                        time: Date.parse(state.time),
                        value: (state.soc),
                        provider: series
                    });
                });
            });
            let graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Watt"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(powerMarkers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(powerMarkers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + 'W';
                        }})),
                ]
            });
            $('#container6').append(graph);

            graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "Amps"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(currentMarkers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(currentMarkers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + 'Amps';
                        }})),
                ]
            });
            $('#container7').append(graph);

            graph = Plot.plot({
                x: {
                    type: "time",
                    label: "Time"
                },
                y: {
                    label: "SoC"
                },
                grid: true,
                width: "1200",
                color: {
                    scheme: "blues",
                    legend: true
                },
                marks: [
                    Plot.line(socMarkers, {
                        x: "time",
                        y: "value",
                        stroke: "provider",
                        strokeWidth: 2,
                        // curve: "natural",
                        // marker: "circle",
                    }),
                    Plot.ruleY([0]),
                    Plot.tip(socMarkers, Plot.pointerX({x: "time", y: "value", title: function(d) {
                            function formatDate(date) {
                                let hour = date.getHours();
                                hour = hour < 10 ? ('0' + hour) : hour;
                                let minutes = date.getMinutes()
                                minutes = minutes < 10 ? ('0' + minutes) : minutes;
                                let seconds = date.getSeconds()
                                seconds = seconds < 10 ? ('0' + seconds) : seconds;
                                return hour + ':' + minutes + ':' + seconds;
                            }
                            return 'Time: ' + formatDate(new Date(d.time))  + '\n ' + d.value.toFixed(2) + '%';
                        }})),
                ]
            });
            $('#container8').append(graph);

        }
    });

});
</script>
{{end}}